version: '3'

services:
  relay_server:
    container_name: '{{ inventory_hostname | default('relay_server') }}'
    hostname: '{{ inventory_hostname | default('relay_server') }}'
    image: "{{ RELAY_SERVER_IMAGE | default('openebl/relay_server:latest')}}"
    pull_policy: always
    command: sh -c "relay_server migrate && relay_server server"
    restart: always
    environment:
      LOCAL_ADDRESS: ":9001"
      DATABASE_NAME: "{{ DATABASE_NAME }}"
      DATABASE_PORT: "{{ DATABASE_PORT }}"
      DATABASE_HOST: "{{ DATABASE_HOST }}"
      DATABASE_USER: "{{ DATABASE_USER }}"
      DATABASE_PASSWORD: "{{ DATABASE_PASSWORD }}"
      DATABASE_POOL_SIZE: "{{ DATABASE_POOL_SIZE | default('5') }}"
      DATABASE_SSLMODE: "{{ DATABASE_SSLMODE | default('disable') }}"
      OTHER_PEERS: '{{ OTHER_PEERS }}'
      OTLP_ENDPOINT: "{{ OTLP_ENDPOINT }}"
    networks:
      - openebl
    ports:
      - 9001:9001

networks:
  openebl:
    name: openebl
    external: true
